/* ............. Css Resets ........... */

*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  /* outline: 1px solid red; */
  margin: 0;
  padding: 0;
}

body,
html {
  box-sizing: inherit;
  width: 100%;
  min-height: 100%;
}

body {
  font-size: 100%;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  line-height: 1.5;
  background-color: #e8e5e5;
}

img,
picture {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 0.45rem;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  width: 1rem;
  height: 1rem;
  background-color: rgb(43, 42, 42);
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

/* Reusable classes ........... */

.limit {
  padding-inline: 0.9rem;
  padding-block: 0.7rem;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-jc-c {
  justify-content: center;
}

.flex-al-c {
  align-items: center;
}

.flex-jc-sb {
  justify-content: space-between;
}

/* ............... Main Content .............. */

.container {
  height: 100vh;
  width: 100%;
}

.todo-cont {
  width: 40rem;
  background-color: rgb(255, 255, 255);
  max-height: 80%;
  overflow: auto;
}

.container h1 {
  font-size: 1.4rem;
  color: rgb(30, 30, 30);
}

.delete-all {
  color: rgb(143, 143, 143);
  cursor: pointer;
  transition: transform 500ms ease-in-out;
  -webkit-transition: transform 500ms ease-in-out;
  -moz-transition: transform 500ms ease-in-out;
  -ms-transition: transform 500ms ease-in-out;
  -o-transition: transform 500ms ease-in-out;
}

.rotateIcon {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

.delete-all:hover {
  cursor: pointer;
}

.input-cont {
  position: relative;
  overflow-x: hidden;
}

.todo-input {
  width: 100%;
  font-style: italic;
  border: none;
  font-size: 1rem;
}

.enter-key {
  width: 0.8rem;
  height: 0.8rem;
  object-fit: contain;
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  right: 1rem;
  opacity: 0.5;
  cursor: text;
}

.error-cont {
  display: none;
}

.error {
  background-color: rgb(235, 163, 163);
  color: rgb(53, 1, 1);
  width: 90%;
  margin: 0.5rem auto;
  padding: 0.2rem;
}

.show {
  display: block !important;
}

.hide {
  display: none !important;
}

.completed {
  text-decoration: line-through;
  color: rgb(60, 60, 60);
}

.todo-list {
  width: 100%;
}

.todo {
  width: inherit;
  font-size: 1.15rem;
}

.todo:focus,
.todo:has(.todo-editable:focus) {
  background-color: #ebe998;
}

.todo-block1 {
  display: flex;
  justify-content: flex-start;
}

.text {
  gap: 0.3rem;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  display: grid;
  place-content: center;
  grid-template-columns: 1.15rem;
  background-color: #fff;
  color: rgb(143, 143, 143);
  font: inherit;
  width: 1.15rem;
  height: 1.15rem;
  border: 0.15rem solid currentColor;
  border-radius: 0.15rem;
  margin: 0;
  -webkit-border-radius: 0.15rem;
  -moz-border-radius: 0.15rem;
  -ms-border-radius: 0.15rem;
  -o-border-radius: 0.15rem;
}

input[type="checkbox"]:hover {
  cursor: pointer;
}

input[type="checkbox"]::before {
  content: "";
  width: 1rem;
  height: 1rem;
  scale: 0;
  box-shadow: inset 1em 1em black;
  transition: 50ms transform ease-in-out;
  -webkit-transition: 50ms transform ease-in-out;
  -moz-transition: 50ms transform ease-in-out;
  -ms-transition: 50ms transform ease-in-out;
  -o-transition: 50ms transform ease-in-out;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked {
  color: transparent;
}

input[type="checkbox"]:checked,
input[type="checkbox"]:checked::before {
  scale: 1;
}

.todo-editable:focus {
  outline: none;
}

.button {
  background-color: transparent;
  border: none;
  outline: none;
  padding-inline: 0.2rem;
}

button:is(:hover, :active) > i {
  color: rgb(4, 4, 4);
}

.button:has(.todo-move) {
  cursor: url("./assets/move.cur"), auto;
}

.button:has(.todo-delete) {
  cursor: pointer;
}

.todo-move {
  pointer-events: none;
}

.todo-delete {
  display: none;
  pointer-events: none;
}

.todo-move,
.todo-delete {
  color: rgb(143, 143, 143);
  font-size: 1.2rem;
}

.clear-all {
  border: none;
  width: 100%;
  padding: 1.2rem 0;
  font-size: 1.15rem;
  transition: background-color 200ms ease-in-out;
  -webkit-transition: background-color 200ms ease-in-out;
  -moz-transition: background-color 200ms ease-in-out;
  -ms-transition: background-color 200ms ease-in-out;
  -o-transition: background-color 200ms ease-in-out;
}

.clear-all:hover {
  cursor: pointer;
  background-color: rgb(183, 176, 176);
}
